node_modules/#### joe made this: https://goel.io/joe

#####=== Meteor ===#####

.meteor/local
.meteor/meteorite

Uh oh! Seems like joe doesn't know what jetbrain is.
Try running `joe ls` to see list of available gitignore files.
#### joe made this: https://goel.io/joe

